<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/application.css" />
        <script src="~/dist/application.js"></script>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/dist/application.css" asp-append-version="true"/>
        <script src="~/dist/application.js" asp-append-version="true"></script>
    </environment>

    <title>ASPNET Core Bootstrap Project</title>
</head>
<body>

    <partial name="_Navbar" />
    <partial name="_Notifications" />

    <div class="container">
        @RenderBody()
    </div>    
</body>
</html>