<nav class="navbar navbar-light bg-light border-bottom border-danger" condition="!Context.User.Identity.IsAuthenticated">
    <span class="navbar-brand mb-0 h1 text-danger">Navbar</span>
    <span class="text-danger">You're not authenticated</span>
</nav>

<nav class="navbar navbar-light bg-light mb-4" condition="Context.User.Identity.IsAuthenticated">
    <span class="navbar-brand mb-0 h1">Navbar</span>
    <span>
        <a class="btn btn-outline-primary" asp-action="index" asp-controller="post">Posts</a>
        <a class="btn btn-outline-secondary" asp-action="index" asp-controller="home" asp-area="admin">Admin area</a>
    </span>
    <span class="float-right">
        <vc:version prefix="Version number"></vc:version>
        <a asp-action="Logout" asp-controller="Home" class="ml-4">Logout</a>
    </span>
</nav>