@if (Context.User.Identity.IsAuthenticated)
{
    <div>Wow! Parabéns, parece que você está autenticado</div>
    <p>
        Você pode tentar acessar a sessão de administração caso tenha as permissões necessárias
        <a asp-action="Admin" asp-controller="Home">aqui</a> ou você pode sair clicando <a asp-action="Logout" asp-controller="Home">aqui</a>
    </p>
}
else
{
    <div>Ops! Ocorreu algum problema. Parece que você ainda não está autenticado</div>
}