<form asp-action="Login" asp-controller="Home" method="post">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email">
    <label>Senha</label>
    <input type="password" name="password" placeholder="Senha">
    <button type="submit">Login</button>
</form>