@model Project.App.Features.Post.Commands.CreatePostCommand

@{ ViewBag.Action = Url.Action("Create"); }

<div class="row">
    <div class="col-md-8 m-auto">
        <div class="card mt-5">
            <div class="card-body">
                <partial name="_Form" />
            </div>
        </div>
    </div>
</div>