@model IEnumerable<Project.Domain.Entities.Post>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="card mt-5">
                <div class="card-header h4">
                    Posts
                    <a asp-action="Create" class="btn btn-success float-right">Create</a>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @foreach (var post in Model)
                        {
                            <li class="list-group-item">
                                <span>@post.Title</span>
                                <span>
                                    <a class="btn btn-sm btn-danger float-right mr-1" asp-action="delete" asp-controller="post" asp-route-id="@post.Id">Delete</a>
                                    <a class="btn btn-sm btn-secondary float-right mr-1" asp-action="edit" asp-controller="post" asp-route-id="@post.Id">Edit</a>
                                    <a class="btn btn-sm btn-link float-right mr-1" asp-action="show" asp-controller="post" asp-route-id="@post.Id">Show</a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>